<div class="characters">
    <div class="pacman">
        <div class="pacmanB"></div>
        <div class="pacmanA"></div>
    </div>
    <div class='clyde'>
        <div class='clydetop'>
          <div class='righteye'>
            <div class='iris'></div>
          </div>
          <div class='lefteye'>
            <div class='iris'></div>
          </div>
        </div>
        <div class='tail'>
          <div class='triangle'></div>
          <div class='triangle'></div>
          <div class='triangle'></div>
          <div class='triangle'></div>
          <div class='triangle'></div>
          <div class='triangle'></div>
          <div class='triangle'></div>
          <div class='triangle'></div>
          <div class='triangle'></div>
          <div class='triangle'></div>
        </div>
      </div>
  </div>
