<form action="/petition" method="post">
    <input class="nes-input" type="hidden" name="signature" required>
    <input class="nes-input" type="hidden" name="_csrf" value={{csrfToken}}>
    <div id="signature-container" class="nes-pointer"></div>
    <button class="nes-btn is-primary" type="submit" name="submit">Send</button>
</form>
<script src="/js/signature.js" charset="utf-8"></script>
