<form action="/registration" method="post">
    <input class="nes-input" type="text" name="first_name" placeholder="First Name" required>
    <input class="nes-input" type="text" name="last_name" placeholder="Last Name" required>
    <input class="nes-input" type="text" name="email" placeholder="Email Address" required>
    <input class="nes-input" type="password" name="password" placeholder="Password" required>
    <input class="nes-input" type="hidden" name="_csrf" value={{csrfToken}}>
    <button class="nes-btn is-primary" type="submit" name="submit">Sign In</button>
</form>
