<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Petition</title>
        <base href="/">
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
        <link rel="stylesheet" href="/css/nes.min.css">
        <link rel="stylesheet" href="/css/characters.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <main class="nes-container is-dark is-rounded is-centered with-title">
        {{{body}}}
    </main>
</html>
