<form id="signature-form" action="/petition" method="post">
    <input type="text" name="fname" placeholder="First Name" required>
    <input type="text" name="lname" placeholder="Last Name" required>
    <input type="text" name="email" placeholder="Email Address" required>
    <div id="signature-container"></div>
    <button type="submit" name="submit">Send</button>
</form>
<script src="./js/signature.js" charset="utf-8"></script>
