<form id="signature-form" action="index.html" method="get">
    <input type="text" name="fname" placeholder="First Name" required>
    <input type="text" name="lname" placeholder="Last Name" required>
    <input type="text" name="email" placeholder="Email Address" required>
    <div id="signature-container"></div>
    <button type="submit" name="submit">Send</button>
    <script src="./js/signature.js" charset="utf-8"></script>
</form>
