<p class="title">Save Ghosts from Pacman!</p>
{{> characters}}
<form action="/profile" method="post">
    <input class="nes-input" type="text" name="age" placeholder="Age">
    <input class="nes-input" type="text" name="city" placeholder="City">
    <input class="nes-input" type="text" name="url" placeholder="Homepage">
    <input class="nes-input" type="hidden" name="_csrf" value={{csrfToken}}>
    <button class="nes-btn is-primary" type="submit" name="submit">Continue</button>
</form>
<div><a href="/logout">log out</a></div>
