<main class="nes-container is-dark is-rounded">
    <div class="message-list">
        {{#each signers}}
        <div class="message -left">
            <i class="nes-bcrikko"></i>
            <div class="nes-balloon from-left black-text">
              <p>I'm {{this.first_name}}, {{this.last_name}}!</p>
              <a href="signers/{{this.city}}">{{this.city}}</a>
            </div>
        </div>
        {{/each}}
    </div>
    <a href="/thanks">back</a>
</main>
